/* Reset */

* {
    box-sizing: border-box;
}
/* Global */

body, h1, h2, h3, h4, ul, li, p, section, article, img, q {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 100%; /* ~16px */
    font-family: 'latolight', sans-serif;
    color: #294F6D;
}

body {
    position: relative;
    height: 100%;
}

a, q, article, section {
    display: inline-block;
    text-decoration: none;
}

a, a:hover,
a:visited {
    color: inherit;
}

strong {
    font-family: 'latomedium', sans-serif;
}

h1 {
    font-size: 3.6em;
    letter-spacing: 0.04em;
}

h2 {
    letter-spacing: -0.04em;
    padding-left: 0.2em;
    border-left: 0.1em solid #294F6D;
    margin: 0.5em 0;
    font-size: 2.5em;
}

/* Content area */

#content {
    background: url(../static/img/bacground1080p.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

section {
    display: block;
    position: relative;
    min-height: 100%;
    width: 100%;
    background: rgba(241, 241, 254, 0.8);
}

article {
    padding: 16em 2em 2em 20%;
    width: 100%;
    min-height: 100%;
    text-align: left;
}

.h1_wrapper {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 15.625em;
    width: 100%;
    padding: 7em 2em 1em 20%;
    background: #0B83E0;
    color: #F1F1FE;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.22);
}

.clear {
    clear: both;
    border-bottom: 0.15em solid #294F6D;
    margin-bottom: 2em;
}

.blank {
    width: 1em;
    margin: 0;
    border: none;
}

/* Unsorted list global config */

ul {
    margin: 0.5em 0;
    list-style: none;
    border-left: 0.1em solid #294F6D;
    padding: 0.1em 0 0.1em 0.5em;
}

ul li {
    display: inline-block;
    font-size: 1.2em;
    width: 100%;
    vertical-align: top;
    margin-bottom: 0.75em;
}

ul li strong,
ul li a {
    display: block;
    padding-bottom: 0.2em;
}

ul li span {
    font-style: italic;
}

ul li i {
    display: inline-block;
    float: left;
    font-size: 2em;
    padding: 0.2em;
    margin-right: 0.3em;
    border: 0.1em solid #294F6D;
    width: 1.75em;
    text-align: center;
}

.dual_col li {
    width: 49%;
}

.multi_col li {
    width: 33%;
}

/* Left column */

#left_col {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    width: 15%;
    background: #0B83E0;
    color: #F1F1FE;
    box-shadow: 0.25em 0 0.5em rgba(0, 0, 0, 0.22);
}

/* Logo section */

header {
    background: #294F6D;
    position: relative;
    height: 15.625em;
    width: 100%;
    text-align: right;
    padding-right: 1em;
}

#hcc {
    font-weight: normal;
    font-size: 7em;
    letter-spacing: -0.05em;
}

#page_name {
    position: absolute;
    top: 5em;
    right: 0.6em;
    font-size: 1.5em;
    letter-spacing: -0.1em;
}
#author {
    position: absolute;
    bottom: 1.2em;
    right: 1.2em;
    font-size: 0.8em;
}

/* Quote block */

#left_col>div {
    height: 4.2em;
    padding: 0.2em 2em;
}

#left_col q {
    display: none;
    font-size: 0.8em;
    font-style: italic;
}

/* Navigation */

#nav {
    padding: 0 0 0 1.8em;
    border: none;
}

#nav li {
    font-size: 1.6em;
    letter-spacing: -0.11em;
    font-family: 'latomedium', sans-serif;
    margin: 0;
}

#nav a {
    color: #F1F1FE;
    width: 100%;
    padding: 0.5em;
}

#nav i {
    border: none;
}

#nav span {
    font-style: normal;
}

#nav li:hover,
#nav a:hover,
#nav a.active {
    background-color: #F1F1FE;
    color: #0B83E0;
    -webkit-transition: all 0.4s ease 0.2s;
       -moz-transition: all 0.4s ease 0.2s;
         -o-transition: all 0.4s ease 0.2s;
            transition: all 0.4s ease 0.2s;
}

/* Footer */

footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    padding: 0.3em 0;
    width: 100%;
    text-align: center;
}

/* Home section */

#home article q {
    font-size: 2.3em;
    font-style: italic;
    letter-spacing: -0.05em;
    width: 16em;
    margin-bottom: 0.5em;
}

#home_title {
    margin: 0 0 -0.35em 0;
    font-family: 'latomedium', sans-serif;
    font-size: 7em;
    letter-spacing: -0.1em;
}

#home_author {
    font-size: 2em;
    letter-spacing: -0.07em;
    margin:0 0 1.2em 0.2em;
}

.info {
    font-size: 1.5em;   
}

/* About me section */

.col {
    font-size: 1.2em;
}

.col {
    display: block;
    float: left;
    width: 34%;
    padding-right: 2em;
    line-height: 1.5em;
    text-align: justify;
    vertical-align: bottom;
}

.col p {
    margin: 1.5em 0;
}

.col p span:first-child {
    border-left: 0.15em solid #294F6D;
    padding: 0 0 0 0.2em;
}

.col p i {
    width: 1em;
    text-align: center;
    margin-right: 0.3em;
}

.foto {
    float: right;
    right: 2em;
    background: url(../static/img/me.jpg) top center no-repeat;
    background-size: contain;
    text-indent: -9999em;
    width: 31%;
    height: 32em;
}

/* Skills */

/* Projects */

/* Education section */

.ujk_logo {
    display: inline-block;
    background: #fff url(/static/img/logo.png) center center no-repeat;
    border-left: 0.3em solid #294F6D;
    height: 4.1625em;
    width: 19em;
    margin: 1em 0;
    text-indent: -9999em;
}

.date {
    float: right;
    font-size: 1.4em;
    text-align: right;
    margin-top: 2em;
    padding: 0 0.3em;
    border-left: 0.1em solid #294F6D;
}