/* Reset */

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, ul, li, p, section, article, img, q {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Global */

html {
    height: 100%;
    font-size: 100%; /* ~16px */
    font-family: 'latolight', sans-serif;
    color: #294F6D;
    background-color: #1C649B;
}

body {
    position: relative;
    height: 100%;
}

a, q, article, section {
    display: inline-block;
    text-decoration: none;
}

a, a:hover,
a:visited {
    color: inherit;
}

strong {
    font-family: 'latomedium', sans-serif;
}

h1 {
    font-size: 3.6em;
    letter-spacing: 0.04em;
}

h2 {
    letter-spacing: -0.04em;
    padding-left: 0.2em;
    border-left: 0.1em solid #294F6D;
    margin: 0.5em 0;
    font-size: 2.5em;
}

#wrapper {
    width: 120.125em;
    height: 100%;
    margin: 0 auto;
}

/* Unsorted list global config */

ul {
    margin: 0.5em 0;
    list-style: none;
    border-left: 0.1em solid #294F6D;
    padding: 0.1em 0 0.1em 0.5em;
}

ul li {
    display: inline-block;
    font-size: 1.2em;
    width: 100%;
    vertical-align: top;
    margin-bottom: 0.75em;
}

ul li strong,
ul li a {
    display: block;
    padding-bottom: 0.2em;
}

ul li span {
    font-style: italic;
}

ul li i {
    display: inline-block;
    float: left;
    font-size: 2em;
    padding: 0.2em;
    margin-right: 0.3em;
    border: 0.1em solid #294F6D;
    width: 1.75em;
    text-align: center;
}

.dual_col li {
    width: 49%;
}

.multi_col li {
    width: 33%;
}

/* Left column */

#left_col {
    float: left;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 10;
    width: 15.625em;
    background: #0B83E0;
    color: #F1F1FE;
    box-shadow: 0.25em 0 0.5em rgba(0, 0, 0, 0.22);
}

/* Logo section */

header {
    background: #294F6D;
    position: relative;
    height: 15.625em;
    width: 100%;
    padding: 1em 2em 1em 1em;
    text-align: right;
}

.title {
    margin: 0 0 -0.35em 0;
    font-size: 7em;
    letter-spacing: -0.05em;
}

.title strong {
    font-weight: normal;
}

.sub_title {
    font-size: 1.5em;
    letter-spacing: -0.1em;
    margin:0 0 1.2em 0.2em;
}

#author {
    font-size: 0.8em;
}

/* Quote block */

#left_col>div {
    height: 3em;
    padding: 0.2em 0.2em 0.2em 1em;
}

#left_col q {
    display: none;
    font-size: 0.8em;
    font-style: italic;
}

/* Navigation */

#nav {
    padding: 0 0 0 1em;
    border: none;
}

#nav li {
    font-size: 1.6em;
    letter-spacing: -0.11em;
    font-family: 'latomedium', sans-serif;
    margin: 0;
}

#nav a {
    color: #F1F1FE;
    width: 100%;
    padding: 0.5em;
}

#nav i {
    border: none;
}

#nav span {
    font-style: normal;
}

#nav li:hover,
#nav a:hover,
#nav a.active {
    background-color: #F1F1FE;
    color: #0B83E0;
    -webkit-transition: all 0.4s ease 0.2s;
       -moz-transition: all 0.4s ease 0.2s;
         -o-transition: all 0.4s ease 0.2s;
            transition: all 0.4s ease 0.2s;
}

/* Footer */

footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 0.3em 0;
    width: 100%;
    text-align: center;
}

/* Content area */

#content {
    padding-left: 15.625em;
    background: url(../static/img/bacground1080p.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

section {
    min-height: 100%;
    width: 100%;
    background: rgb(241, 241, 254);
}

article {
    padding: 1em 2em 2em 2em;
    width: 100%;
    min-height: 100%;
    text-align: left;
}

.h1_wrapper {
    height: 15.625em;
    width: 100%;
    padding: 6em 2em 1em 2em;
    background: #0B83E0;
    color: #F1F1FE;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.22);
}

.clear {
    clear: both;
    border-bottom: 0.15em solid #294F6D;
    margin-bottom: 2em;
}

.blank {
    width: 1em;
    margin: 0;
    border: none;
}

/* Home section */

#home {
    height: 100%;
    background:  rgba(241, 241, 254, 0.8);
}

#home:after {
    content: '';
    display: block;
    height: 2em;
    width: 100%;
    background: rgb(241, 241, 254);
}

#home article {
    height: inherit;
    display: table;
}

#home article div {
    display: table-cell;
    vertical-align: middle;
}

#home article q {
    font-size: 2.3em;
    font-style: italic;
    letter-spacing: -0.05em;
    width: 16em;
    margin: 0 0 0.5em 0;
}

#home .sub_title {
    font-size: 2.5em;
}

.info {
    font-size: 1.5em;   
}

/* About me section */

.col {
    font-size: 1.2em;
}

.col {
    display: block;
    float: left;
    width: 34%;
    padding-right: 2em;
    line-height: 1.5em;
    text-align: justify;
    vertical-align: bottom;
}

.col p {
    margin: 1.5em 0;
}

.col p span:first-child {
    border-left: 0.15em solid #294F6D;
    padding: 0 0 0 0.2em;
}

.col p i {
    width: 1em;
    text-align: center;
    margin-right: 0.3em;
}

.photo {
    float: right;
    right: 2em;
    background: url(../static/img/me.jpg) top center no-repeat;
    background-size: contain;
    text-indent: -9999em;
    width: 31%;
    height: 32em;
}

/* Skills */

/* Projects */

.project_photo {
    float: left;
    width: 40%;
    margin-right: 1.5em;
}

.project_photo img {
    width: 100%;
    height: auto;
}

.project_info {
    float: left;
    width: 55%;
}

/* Education section */

.ujk_logo {
    display: inline-block;
    background: #fff url(../static/img/logo.png) top left no-repeat;
    border-left: 0.3em solid #294F6D;
    height: 4.1625em;
    width: 6.5em;
    margin: 1em 0;
    text-indent: -9999em;
}

.date {
    float: right;
    font-size: 1.4em;
    text-align: right;
    margin-top: 2em;
    padding: 0 0.3em;
    border-left: 0.1em solid #294F6D;
}

/* Media queries */

/* width < 1922px/16px=120.125em */

@media screen and (max-width: 120.125em){
    #wrapper {
        width: 100%;
        margin: 0;
    }
}

/* width < 1160px/16px=72.5em */

@media screen and (max-width: 72.5em) {
    #left_col {
        width: 12em;
    }
    
    #content {
        padding-left:  12em;
    }
    
    header, .h1_wrapper {
        height: 14em;
    }
    
    #home article q {
        font-size: 1.6em;
    }
    
    #home .title {
        font-size: 5.5em;
    }
    
    #home .sub_title {
        font-size: 1.5em;
    }
    
    .info {
        font-size: 1.2em;
    }
    
    .col {
        width: 55%;
        margin-right: 1em;
    }
    
    .col p {
        margin: 1em 0;
    }
    
    .photo {
        width: 40%;
    }
    
    .multi_col li {
        width: 48%;
    }
}

/* width <1030px/16px=64.375em */

@media screen and (max-width: 64.375em) {
    #left_col .title {
        font-size: 5.5em;
    }
    
    #left_col .sub_title {
        font-size: 1.17em;
    }
    
    #author {
        font-size: 0.8em;
    }
    
    #nav li {
        font-size: 1.25em;
    }
    
    header, .h1_wrapper {
        height: 11em;
    }
    
    .h1_wrapper {
        padding-top: 4em;
    }
    
    #home article q {
        font-size: 1.25em;
    }
    
    #home .title {
        font-size: 4em;
    }
    
    #home .sub_title {
        font-size: 1.2em;
    }
    
    ul li {
        font-size: 1em;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    .col {
        font-size: 1em;
    }
}

/* width <800px/16px=50em */

@media screen and (max-width: 50em) {
    header, #left_col div, footer, #nav li a span {
        display: none;
    }
    
    #left_col {
        width: 6em;
    }
    
    #content{
        padding-left:  6em;
    }
    
    #nav {
        padding: 0;
        margin: 1em 0 0 0;
    }
    
    #nav li a {
        height: 4em;
    }
    
    #nav li a i {
        font-size: 2em;
        width: 100%;
    }
    
    header, .h1_wrapper {
        height: 10em;
    }
    
    .h1_wrapper {
        padding-top: 3em;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 1.8em;
    }
    
    .info {
        font-size: 1em;
    }
    
    .photo {
        width: 30%;
        height: 15em;
    }
    
    .col {
        width: 66%;
    }
    
    .date {
        font-size: 1em;
    }
    
    .project_photo {
        float: none;
        width: 80%;
        margin: 0 auto;
    }
    
    .project_info {
        width: 100%;
    }
    
    .dual_col li {
        width: 100%;
    }
}

/* width <690px/16px=43.125em */

@media screen and (max-width: 43.125em) {
    #left_col {
        width: 5.25em;
    }
    
    #content{
        padding-left:  5.25em;
    }
    
    article {
        padding: 0.5em;
    }
    
    .h1_wrapper {
        height: 8em;
        padding-top: 2em;
    }
    
    .photo, .col {
        width: 100%;
        margin: 0;
        padding-right: 0;
    }
}
    
/* width <620px/16px=38.75em */

@media screen and (max-width: 38.75em) { 
    #left_col {
        width: 3.5em;
    }
    
    #content{
        padding-left: 3.5em;
    }
    
    #nav li a {
        height: 2.5em;
    }
    
    #nav li a i {
        font-size: 1.25em;
    }
    
    #home article q {
        font-size: 1em;
    }
    
    #home .title {
        font-size: 3em;
    }
    
    #home .sub_title {
        font-size: 1em;
    }
    
    h1 {
        font-size: 2.2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    .multi_col li {
        width: 100%;
    }
}
    
/* width <480px/16px=30em */

@media screen and (max-width: 30em) {
    .h1_wrapper {
        height: 6em;
    }
    
    #home article q {
        font-size: 0.8em;
    }
    
    #home .title {
        font-size: 2em;
    }
    
    #home .sub_title {
        font-size: 1em;
    }
    
    .date {
        font-size: 0.75em;
    }
}