/* Import variables */
/* colors */
/* dark blue  */
/* mid blue */
/* light grey */
/* light blue */
/* white */
/* fonts */
/* breakpoints */
/* import sass partials*/
/* Grid */
html {
  background-color: #FFF;
  color: #294F6D;
  font: 100% "Lato", sans-serif;
  font-weight: 300;
  height: 100%; }

body {
  height: 100%;
  position: relative; }

.header {
  background-color: #0B83E0;
  color: #F1F1FE;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 22em; }

.wrapper {
  background-color: #F1F1FE;
  height: 100%;
  width: 100%;
  padding-left: 22em; }

.content {
  height: 100%;
  width: 100%;
  position: relative; }

.section {
  background-color: #FFF;
  border-top: 0.25em solid #F1F1FE;
  display: block;
  width: 100%; }

.article {
  margin: 1.5em auto;
  text-align: left;
  width: 75%; }

/* import global styles */
/* Reset */
a, article, body, div, footer, h1, h2, h3, header, html, i, img, li, p, q, section, span, strong, ul {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Global */
a {
  display: inline-block;
  text-decoration: none; }
  a:link, a:hover, a:visited {
    color: inherit; }

strong {
  font-family: "Lato", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: -0.05em; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: -0.04em; }

h3 {
  border-left: 0.1em solid #294F6D;
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0.5em 0;
  padding-left: 0.2em; }

.h_first {
  text-indent: -0.1em; }

.clear {
  border-bottom: 0.15em solid #294F6D;
  clear: both;
  margin-bottom: 2em; }

.mobile {
  display: none; }

/* import list styles */
/* Unsorted list global config */
ul {
  border-left: 0.1em solid #294F6D;
  list-style: none;
  margin: 0.5em 0;
  padding: 0.825em 0 0 0.5em; }
  ul li {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 0.75em;
    width: 100%; }
    ul li strong, ul li a, ul li i {
      display: block;
      padding-bottom: 0.2em; }
    ul li i {
      float: left;
      margin-right: 0.3em;
      padding-top: 0.1em;
      text-align: center;
      width: 1.75em; }

.icon_list {
  border: none;
  padding: 0;
  text-align: center; }
  .icon_list li {
    display: inline-block;
    width: 1.75em; }
    .icon_list li i {
      margin: 0; }
      .icon_list li i:hover {
        color: #1C649B;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in; }

.dual_col li {
  width: 49%; }

.multi_col li {
  width: 33%; }

/* import leftcol styles */
/* Header */
.header .avatar {
  height: 18em;
  margin-top: 2em;
  text-align: center;
  width: 100%; }
  .header .avatar .photo {
    background: url("../../static/img/me.jpg") center center no-repeat;
    background-size: cover;
    border: 0.125em solid #FFF;
    border-radius: 50%;
    height: 12.5em;
    margin: 0 auto;
    text-indent: -9999em;
    width: 12.5em; }
  .header .avatar .sub_title {
    margin-top: -0.75em;
    text-align: left;
    text-indent: 2.025em; }
  .header .avatar q {
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.0625em;
    margin-top: -0.125em;
    padding: 0.25em 1.25em; }

.header .nav {
  border: none;
  padding-left: 1em;
  margin-top: 1em; }
  .header .nav li {
    font-size: 1.375em;
    font-weight: 400;
    letter-spacing: -0.1em;
    margin: 0; }
    .header .nav li a {
      padding: 0.5em;
      padding-left: 2em;
      width: 100%; }
      .header .nav li a:hover, .header .nav li a.active {
        background-color: #FFF;
        color: #0B83E0;
        -webkit-transition: all 0.4s ease 0.2s;
        transition: all 0.4s ease 0.2s; }

.header .icons {
  bottom: 0.25em;
  font-size: 0.875em;
  left: 0;
  position: absolute;
  width: 100%; }

/* import content styles */
/* Content area */
.h2_wrapper {
  height: 6em;
  margin: 5em auto 0.5em;
  position: relative;
  text-align: left;
  width: 75%; }

/* Home section */
.home {
  border: none;
  height: 41em; }
  .home::before {
    background: url(../../static/img/bacground1080p.jpg) bottom center no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 17em; }
  .home .h2_wrapper {
    height: 9em;
    margin-top: 3em; }
    .home .h2_wrapper .sub_title {
      margin-bottom: 1em;
      margin-top: -1em;
      text-indent: -0.1em; }
    .home .h2_wrapper q {
      font-size: 1.75em;
      font-style: italic; }
  .home .article .info {
    margin: 2em 0;
    width: 18em; }
    .home .article .info li {
      font-size: 1.25em; }

/* About Me section */
.about_me .article .col {
  display: inline-block;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 1em;
  padding-right: 0;
  text-align: justify;
  width: 49.5%;
  vertical-align: top; }
  .about_me .article .col p {
    padding-bottom: 1.5em; }
    .about_me .article .col p span {
      border-left: 0.15em solid #294F6D;
      padding: 0 0 0 0.2em; }

.about_me .article .odd {
  padding-left: 0;
  padding-right: 1em; }

.about_me .article .ujk_logo {
  background: #fff url(../static/img/logo.png) top left no-repeat;
  border-left: 0.3em solid #294F6D;
  display: inline-block;
  height: 4.1625em;
  margin: 1em 0;
  text-indent: -9999em;
  width: 6.5em; }

.about_me .article .date {
  border-left: 0.1em solid #294F6D;
  float: right;
  font-size: 1.4em;
  margin-top: 2em;
  padding: 0 0.3em;
  text-align: right; }

/* Footer section */
.footer {
  font-size: 1.25em;
  margin: 2em auto 3em;
  width: 75%; }
/*# sourceMappingURL=main.css.map */