/* Content area */

.content {
    background-color: $lightgrey;
    height: 100%;
    padding-left: 15.625em;
    position: relative;
    width: 100%;

    .section {
        display: block;
        min-height: 100%;
        width: 100%;
    }

    .article {
        min-height: 100%;
        padding: 2em;
        padding-top: 1em;
        text-align: left;
        width: 100%;
    }
}

/* Home section */

.home {
    background: $lightgrey url(../static/img/bacground1080p.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    
    .h1_wrapper {
        height: 10em;
        padding-top: 3.25em;
        
        q {
            font-size: 1.2em;
            font-style: italic;
            letter-spacing: -0.05em;
            position: absolute;
            right: 0.5em;
            top: 0.125em;
            width: 16.25em;
        }
    }
    
    .title {
        font-size: 4em;
        margin-bottom: -0.35em;
    }
    
    .info {
        font-size: 1.5em;
        margin-top: 3em;
        width: 18em;
    }
}

/* About me section */

.col {
    display: block;
    float: left;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-right: 2em;
    text-align: justify;
    width: 34%;
    
    p {
        margin-bottom: 1.5em;
        
        span:first-child {
            border-left: 0.15em solid $darkblue;
            padding-left: 0.2em;
        }
    }
}

.photo {
    background: url(../static/img/me.jpg) top center no-repeat;
    background-size: contain;
    float: right;
    height: 32em;
    right: 2em;
    text-indent: -9999em;
    width: 31%;
}

.ujk_logo {
    background: $lightgrey url(../static/img/logo.png) top left no-repeat;
    border-left: 0.3em solid $darkblue;
    display: inline-block;
    height: 4.1625em;
    margin: 1em 0;
    text-indent: -9999em;
    width: 6.5em;
}

.date {
    border-left: 0.1em solid $darkblue;
    float: right;
    font-size: 1.4em;
    margin-top: 2em;
    padding: 0 0.3em;
    text-align: right;
}

.edu_ul li span {
    font-style: italic;
}

/* Skills */

.skills {
    min-height: inherit;
}

/* Projects */

.project_photo {
    float: left;
    margin-right: 1.5em;
    width: 40%;
}

.project_photo img {
    height: auto;
    width: 100%;
}

.project_info {
    float: left;
    width: 55%;
}