/* Content area */

.h2_wrapper {
    height: 6em;
    margin: 5em auto 0.5em;
    position: relative;
    text-align: left;
    width: 75%;
}

/* Home section */

.home {
    border: none;
    height: 41em;
    
    &::before {
        background: url(../../static/img/bacground1080p.jpg) bottom center no-repeat;
        background-size: cover;
        content: "";
        display: block;
        height: 17em;
    }
    
    .h2_wrapper {
        height: 9em;
        margin-top: 3em;
        
        .sub_title {
            margin-bottom: 1em;
            margin-top: -1em;
            text-indent: -0.1em;
        }
        
        q {
            font-size: 1.75em;
            font-style: italic;
        }
    }
    
    .article {
        .info {
            margin: 2em 0;
            width: 18em;
            
            li {
                font-size: 1.25em;
            }
        }
    }
}

/* About Me section */

.about_me {
    .article{
        
        .col {
            display: inline-block;
            font-size: 1.25em;
            line-height: 1.5em;
            padding: 1em;
            padding-right: 0;
            text-align: justify;
            width: 49.5%;
            vertical-align: top;
            
            p{
                padding-bottom: 1.5em;
                
                span {
                    border-left: 0.15em solid $darkblue;
                    padding: 0 0 0 0.2em;
                }
            }
        }
        
        .odd {
            padding-left: 0;
            padding-right: 1em;
        }
        
        .ujk_logo {
            background: #fff url(../static/img/logo.png) top left no-repeat;
            border-left: 0.3em solid $darkblue;
            display: inline-block;
            height: 4.1625em;
            margin: 1em 0;
            text-indent: -9999em;
            width: 6.5em;
        }
        
        .date {
            border-left: 0.1em solid $darkblue;
            float: right;
            font-size: 1.4em;
            margin-top: 2em;
            padding: 0 0.3em;
            text-align: right;
        }
    }
}

/* Footer section */

.footer {
    font-size: 1.25em;
    margin: 2em auto 3em;
    width: 75%;
}