html {
    background-color: $white;
    color: $darkblue;
    font: 100% $font;
    font-weight: 300;
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.wrapper {
    background-color: $lightgrey;
    height: 100%;
    width: 100%;
    padding-left: 22em;
    transition: all 0.4s linear 0.2s;
    
    &.wide {
        padding-left: 2.5em;
        transition: all 0.4s linear 0.2s;
    }
}

.content {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.4s linear 0.2s;
    
    .menu_button {
        background-color: none;
        color: $lightblue;
        height: 1.5em;
        left: 22em;
        position: fixed;
        text-align: center;
        top: 0;
        transition: all 0.4s linear 0.2s;
        width: 1.5em;
        
        i {
            cursor: pointer;
            font-size: 1.25em;
        }
        
        &.wide {
            left: 2.5em;
            transition: all 0.4s linear 0.2s;
        }
    }
}

.section {
    background-color: $white;
    border-top: 0.375em solid $lightgrey;
    display: block;
    padding-bottom: 1em;
    width: 100%;
}

.article {
    margin: 1.5em auto;
    text-align: left;
    width: 75%;
}