/* Header */

.header {
    background-color: $lightblue;
    color: $white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.4s linear 0.2s;
    width: 22em;
    
    .avatar {
        height: 19.5em;
        margin-top: 2em;
        padding: 0 2.5em;
        text-align: center;
        width: 100%;
        
        a {
            .photo {
                background: url("../../static/img/me.jpg") center center no-repeat;
                background-size: cover;
                border: 0.125em solid $lightblue;
                border-radius: 50%;
                height: 12.5em;
                margin: 0 auto;
                text-indent: -9999em;
                width: 12.5em;
                
                &:hover,
                &.active {
                    border: 0.125em solid $white;
                    transition: all 0.4s ease 0.2s;
                }
            }
            
        }
        
        .sub_title {
            margin-top: -0.675em;
            text-align: left;
            text-indent: 0.405em;
        }
        
        q {
            font-style: italic;
            font-weight: 400;
            letter-spacing: -0.0625em;
            padding: 1em 0.25em;
        }
    }
    
    .nav {
        border: none;
        padding-left: 1em;
        
        li {
            font-size: 1.375em;
            font-weight: 400;
            letter-spacing: -0.1em;
            margin: 0;
            
            a {
                padding: 0.5em;
                padding-left: 2em;
                width: 100%;
                
                &:hover,
                &.active {
                    background-color: $white;
                    color: $lightblue;
                    transition: all 0.4s ease 0.2s;
                }
            }
        }
    }
    
    .icons {
        bottom: 0.25em;
        font-size: 0.875em;
        left: 0;
        position: absolute;
        width: 100%;
        
        .icon_list {
            border: none;
            padding: 0;
            text-align: center;

            & li {
                display: inline-block;
                width: 1.75em;

                & i {
                    margin: 0;

                    &:hover {
                        color: $midblue;
                        transition: all 0.4s ease-in;
                    }
                }
            }
        }
    }
    
    &.header_slide {
        transform: translateX(-19.5em);
        transition: all 0.4s linear 0.2s;
        
        .nav {
            li {
                a {
                    padding-right: 0;
                    
                    i {
                        float: right;
                        margin-right: 0.1em;
                        transition: all 0.4s ease-in;
                    }
                }
            }
        }
    }
}