/* Left column */

.left_col {
    background-color: $lightblue;
    box-shadow: 0.25em 0 0.5em rgba(0,0,0,0.22);
    color: $lightgrey;
    float: left;
    height: 100%;
    position: fixed;
    text-align: left;
    top: 0;
    width: 15.625em;
    z-index: 10;
    
    /* Logo section */
    
    header {
        background-color: $darkblue;
        height: 10em; 
        padding: 1em;
        position: relative;
        width: 100%;
        
        .sub_title {
            margin-left: 0.0417em;
        }
    }
    
    div {
        height: 2.6em;
        padding: 0.2em;
        padding-left: 1em;
        
        q {
            display: none;
            font-size: 0.8em;
            font-style: italic;
        }
    }
    
    .nav {
        border: none;
        padding: 0;
        padding-left: 1em;
        
        li {
            font-family: $font-2;
            font-size: 1.6em;
            letter-spacing: -0.11em;
            margin: 0;
            
            &:hover {
                background-color: $lightgrey;
                color: $lightblue;
                @include transition(all 0.4s ease 0.2s);
            }
            
            a {
                color: $lightgrey;
                padding: 0.25em;
                width: 100%;
                
                &:hover,
                &.active {
                    background-color: $lightgrey;
                    color: $lightblue;
                    @include transition(all 0.4s ease 0.2s);
                }
            }
            
            i {
                border: none;
            }
        }
    }
    
    footer {
        bottom: 0;
        display: block;
        font-size: 0.6em;
        left: 0;
        letter-spacing: 0.2em;
        padding: 0.3em 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
}

