/* colors */

$darkblue: #294F6D; /* dark blue  */
$midblue: #1C649B; /* mid blue */
$lightgrey: #F1F1FE; /* light grey */
$lightblue: #0B83E0; /* light blue */
$white: #FFF; /* white */ 


/* fonts */

$font: 'Lato', sans-serif;

/* breakpoints */
